@import "../../../assets/style/custom-variables.scss";

.GraphDetails-page {
    .info-wrapper {
        // @include media-breakpoint-up(sm) {
        //     column-count: 2;
        //     column-gap: 10px;
        // }

        // .info-box .label-name {
        //     width: 40%;

        //     @include media-breakpoint-up(sm) {
        //         width: 90px;
        //     }
        // }
    }

    .form-switch {
        .form-check-input:not(:checked) {
            background-color: rgba($secondary, 0.20);
        }
    }

    .date-picker-element {
        .react-datepicker-wrapper {
            min-width: auto;
        }

        .event-btn,
        .input-field {
            padding: 7px 12px;
        }
    }

    .action-btn-wrapper {
        button {
            border-radius: 6px;
            min-height: 35px;
            padding: 5px 11px;
        }
    }
}

// Log Chart Component CSS
.custom-chart-table {
    tr:first-child td {
        border-top: 0;
    }
}

.striped-cell {
    background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.3) 2px, transparent 2px, transparent 6px);
}

.element-100{
    .react-datepicker-wrapper{
        width: 100%;
    }
}