@import "../../../assets/style/custom-variables.scss";

.Location-page {
    .location-wrapper {

        .left-section {
            width: 100%;

            @include media-breakpoint-up(lg) {
                height: calc(100vh - 80px);
                max-width: 310px;
            }

            .locations-list {
                @include media-breakpoint-down(lg) {
                    max-height: 300px;
                }
            }
        }

        .right-section {
            width: 100%;

            @include media-breakpoint-up(lg) {
                max-width: calc(100% - 322px);
            }

            iframe {
                min-height: 450px;
            }
        }
    }
}